{% extends "base.html" %}
{% load staticfiles %}

{% block name %}{% endblock %}
{% block profile %}{% endblock %}
{% block tab %}
<div class="w3-blue w3-container">
    <button id = "tab_student"class="btn btn-success ">ข้อมูลส่วนตัวนิสิต</button>
    <button id = "tab_teacher"class="btn btn-warning" >ข้อมูลคณาจารย์</button>
    <button id = "tab_scholarship"class="btn btn-warning ">ประวัติการรับทุนการศึกษา</button>
    <button id = "tab_tuition"class="btn btn-warning">ประวัติการชำระค่าเล่าเรียน</button>
    <button id = "tab_dean"class="btn btn-warning">รายชื่อคณบดีและหัวหน้าภาควิชา</button>
</div>
{% endblock %}
{% block add_column %}
<div class ="w3-margin-left w3-round w3-container w3-light-grey" id="addtabstudent" style ="display:none">
                              <p><i class="fa fa-gear fa-fw w3-large w3-text-white"></i>Select Column</p>
                              <form action="">
                              <input type="checkbox" name="id" value="id">Student ID<br>
                              <input type="checkbox" name="name" value="name">Name<br>
                              <input type="checkbox" name="surname" value="surname">Surname<br>
                              <input type="checkbox" name="department" value="department">Department<br>
                              <input type="checkbox" name="faculty" value="faculty">Faculty<br>
                              <input type="checkbox" name="address" value="address">Address<br>
                              <input type="checkbox" name="tel" value="tel">Tel<br>
                              <input type="checkbox" name="email" value="email">Email<br>
                              <input type="checkbox" name="year" value="year">Year<br>
                              <input type="checkbox" name="teacher" value="teacher">Teacher<br>
                              </form>
</div>
<div class ="w3-margin-left w3-round w3-container w3-light-grey" id="addtabteacher" style ="display:none">
                                <p><i class="fa fa-gear fa-fw w3-large w3-text-white"></i>Select Column</p>
                                <form action="">
                                <input type="checkbox" name="teacherID" value="id">Teacher ID<br>
                                <input type="checkbox" name="teacherName" value="Teachername">Name<br>
                                <input type="checkbox" name="teachersurname" value="Teachersurname">Surname<br>
                                <input type="checkbox" name="department" value="department">Department<br>
                                <input type="checkbox" name="faculty" value="faculty">Faculty<br>
                                <input type="checkbox" name="address" value="address">Address<br>
                                <input type="checkbox" name="tel" value="tel">Tel<br>
                                <input type="checkbox" name="email" value="email">Email<br>
                                </form>
</div>
<div class ="w3-margin-left w3-round w3-container w3-light-grey" id="addtabscholarship" style ="display:none">
                                  <p><i class="fa fa-gear fa-fw w3-large w3-text-white"></i>Select Column</p>
                                  <form action="">
                                  <input type="checkbox" name="scholarID" value="id">Scholarship ID<br>
                                  <input type="checkbox" name="nameScholar" value="nameScholar">Name<br>
                                  <input type="checkbox" name="type" value="type">Type<br>
                                  <input type="checkbox" name="value" value="money">Value<br>
                                  <input type="checkbox" name="id" value="id">Student ID<br>
                                  <input type="checkbox" name="name" value="name">Name<br>
                                  <input type="checkbox" name="surname" value="surname">Surname<br>
                                  <input type="checkbox" name="tel" value="tel">Tel<br>
                                  <input type="checkbox" name="year" value="year">Year<br>

                                  </form>
</div>
<div class ="w3-margin-left w3-round w3-container w3-light-grey" id="addtabtuition" style ="display:none">
                                    <p><i class="fa fa-gear fa-fw w3-large w3-text-white"></i>Select Column</p>
                                    <form action="">
                                    <input type="checkbox" name="id" value="id">Student ID<br>
                                    <input type="checkbox" name="name" value="name">Name<br>
                                    <input type="checkbox" name="surname" value="surname">Surname<br>
                                    <input type="checkbox" name="department" value="department">Department<br>
                                    <input type="checkbox" name="faculty" value="faculty">Faculty<br>
                                    <input type="checkbox" name="year" value="year">Year<br>
                                    <input type="checkbox" name="status" value="status">Status<br>
                                    </form>
</div>
<div class ="w3-margin-left w3-round w3-container w3-light-grey" id="addtabdean" style ="display:none">
                                      <p><i class="fa fa-gear fa-fw w3-large w3-text-white"></i>Select Column</p>
                                      <form action="">
                                      <input type="checkbox" name="id" value="id">Student ID<br>
                                      <input type="checkbox" name="name" value="name">Name<br>
                                      <input type="checkbox" name="surname" value="surname">Surname<br>
                                      <input type="checkbox" name="department" value="department">Department<br>
                                      <input type="checkbox" name="faculty" value="faculty">Faculty<br>
                                      <input type="checkbox" name="position" value="position">Position<br>
                                      <input type="checkbox" name="yop" value="yop">Year of position<br>
                                      </form>
</div>
{% endblock %}
{% block filter%}
  <div class ="w3-margin-left w3-round w3-container w3-grey" id="filtertab" style ="display:none">
      <p><i class="fa fa-gear fa-fw w3-large w3-text-white"></i>Assign value</p>
                                                       <p>Column :
                                                       <select>
                                                         <option value="Name">Name</option>
                                                         <option value="Surname">Surname</option>
                                                         <option value="GPAX">GPAX</option>
                                                       </select>
                                                       Value : <input type="text" name="fname">
                                                         Operation :
                                                       <select>
                                                       <option value="greater"> <var>></var> </option>
                                                       <option value="less"> <var><</var> </option>
                                                       <option value="equal"><var>=</var></option>
                                                       <option value="lessequal"> <var><=</var> </option>
                                                       <option value="greaterequal"><var>>=</var></option>
                                                       </select>
                                                       </p>

                                                 <p><a href="https://www.w3schools.com/w3css/default.asp" target="_blank">add more</a></p>
                                                 </div>
{% endblock %}
{% block table%}{% endblock %}
{% block action %}

{% endblock %}
