{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Home</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/w3.css' %}">
    <link rel='stylesheet' href="{% static 'css/font1.css' %}">
    <link rel="stylesheet" href="{% static 'css/font2.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/bootstrap-3.3.7/css/bootstrap-theme.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/bootstrap-3.3.7/css/bootstrap-theme.min.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/bootstrap-3.3.7/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/bootstrap-3.3.7/css/bootstrap.min.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="{% static 'bootstrap/bootstrap-3.3.7/js/bootstrap.js' %}"> </script>
    <script src="{% static 'bootstrap/bootstrap-3.3.7/js/bootstrap.min.js' %}"> </script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <style>
        html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", "sans-serif}
    </style>
</head>
<body class="w3-light-grey" onload ="getUserData()">
    <!-- Page Container -->
<div class="w3-content w3-margin-top" style="max-width:1400px;">
  <!-- The Grid -->
  <div class="w3-row-padding">
    <!-- Left Column -->
    <div class="w3-quarter">
      <div class="w3-white w3-text-grey w3-card-4">
        <div class="w3-display-container">
        </div>
          <div class="w3-container">
              <div class="w3-container w3-text-black" id='user_name'>
              </div>
              <div class="w3-container w3-text-black" id='user_info'>
              </div>
              <button id = 'signout_btn' class="w3-button w3-blue w3-text-white w3-bar-item w3-round-large">Sign Out<i class="fa fa-sign-out fa-fw w3-margin-right w3-large w3-text-white"></i></button>
                  <hr>
          </div>
      </div><br>
    </div>
   <!-- Right Column -->
    <div class="w3-threequarter">
      <div class="w3-container w3-card-2 w3-white w3-margin-bottom">
        <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-book fa-fw w3-margin-right w3-xxlarge w3-text-blue"></i>Information Center</h2>
          <!--TAB-->
          <div id = "tab" class="w3-blue w3-container ">
            {% block tab %}{% endblock %}
          </div>
           <!--TABLE SETTING -->
        <div class="w3-container " style="height:1200px">
                <div class="w3-bar w3-white" style = "margin:10px 10px 0px">
                  <div class="w3-dropdown-hover w3-round w3-blue w3-margin-right">
                    <button id = "addcolumn_btn" class="w3-button w3-round w3-text-white flip">Add Column</button>
                  </div>
                  <div class="w3-dropdown-hover w3-round w3-blue w3-margin-right">
                    <button id = "filter_btn" class="w3-button w3-round w3-text-white flip">Filter</button>
                  </div>
                  <div class="w3-dropdown-hover w3-round w3-blue w3-margin-right">
                    <button id = "apply_btn" class="w3-button w3-round w3-text-white flip">Apply</button>
                  </div>
                </div>
                {% block add_column %}{% endblock %}
                {% block filter%}{% endblock %}
        </div>
        <div id = "table" class ="w3-container w3-white" >
                <table  id = "table_data" style="margin-top:50px height:200px " class="w3-table-all w3-hoverable w3-card-2 w3-round">
                    {% block table%}{% endblock %}
                </table>
        </div>
        <div id = "student_profile" class="w3-row-padding w3-container w3-card-2 w3-white w3-margin-bottom w3-margin-top w3-round" style='display:none'>
            <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-suitcase fa-fw w3-margin-right w3-xxlarge w3-text-blue"></i>ชวิศา ธรรมจรัส</h2>
            <div class="w3-container w3-third">
              <h5 id = 'pd_sid' class="w3-opacity"><b>รหัสนิสิต</h5>
              <p id = 'pd_name'>ชื่อ </p>
              <p id = 'pd_year'>ชั้นปี </p>
              <p id = 'pd_gpax'>GPAX </p>
              <p id = 'pd_department'>ภาค </p>
              <p id = 'pd_faculty'>คณะ </p>
              <p id = 'pd_tel_no'>เบอร์ติดต่อ </p>
              <p id = 'pd_email'>E-mail </p>
              <p id = 'pd_student_status'>สถานะนิสิต </p>
              <p id = 'pd_drop_status'>สถานะการลาพัก </p>
              <hr>
            </div>
            <div class="w3-container w3-third">
              <h5 class="w3-opacity"><b>ประวัติการฝึกงาน</b></h5>
              <h6 id = 'pd_intern_period' class="w3-text-blue"><i class="fa fa-calendar fa-fw w3-margin-right"></i>ภาคการศึกษาที่ฝึก</h6>
              <p id = 'pd_comp'>ชื่อบริษัท </p>
              <h5 class="w3-opacity"><b>ทุนการศึกษา</b></h5>
              <h6 id = 'pd_scholar_period' class="w3-text-blue"><i class="fa fa-calendar fa-fw w3-margin-right"></i>ระยะเวลา</h6>
              <pid = 'pd_scholar'>ชื่อทุนการศึกษา</p>              <br>
            </div>
            <div class="w3-container w3-third">
              <h5 class="w3-opacity"><b>Project</b></h5>
              <h6 id = 'pd_proj_type' class="w3-text-blue"><i class="fa fa-calendar fa-fw w3-margin-right"></i>ประเภทซีเนียหรือธีสิส</h6>
              <p id = 'pd_proj_name'>ชื่อโปรเจค</p>
              <p id = 'pd_proj_field'>หัวข้อ</p>
              <p id = 'pd_proj_advisor'>อาจารย์ที่ปรึกษาโครงการ</p>
              <br>
            </div>
            <div class="w3-container">
              <h5 class="w3-opacity"><b>ประวัติการลงทะเบียนเรียน<b></h5>
                <table  id = "student_profile_table" style="margin-top:50px height:200px " class="w3-table-all w3-hoverable w3-card-2 w3-round">
                </table>
              <hr>
            </div>
        </div>
      </div>
      </div>
    <!-- End Right Column -->
    </div>
  <!-- End Grid -->
  </div>
  <!-- End Page Container -->
</div>
</body>
<footer class="w3-container w3-blue w3-center w3-margin-top">
  <p>Contact Us</p>
  <i class="fa fa-facebook-official w3-hover-opacity"></i>
  <i class="fa fa-twitter w3-hover-opacity"></i>
  <p>Powered by <a href="" target="_blank">General AMR</a></p>
</footer>
<script src="{% static 'js/table.js' %}"></script>
{% block action %}{% endblock %}
</html>